footer {
    position:absolute;
    bottom:0;
    height:30vh;
    width:100%;
  }

  
.Menu {
    position:absolute;
    bottom:0;
    height:0px;
    width: 100%;;
    background-color: rgb(255, 236, 45);  
    overflow: hidden;
    display:flex;
    transition: height 0.3s;
    border-top:2px solid black;
  }
  
  footer:hover .Menu{
      height:10vh;
      transition: height 0.3s;
  }

  .sticky {
    height: 10vh;
  }
  
  .logo img {
    margin-left:1.5vh;
    margin-top:1.8vh;
    height:7vh
  }
  
  .options {
    flex-grow: 1;
    text-align: right;    
  }
  
  ul {
    padding:0;
    margin:0;
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 100%;
    margin-right: 10px;
    color: #ff107b;
  }
  
  li {
    list-style-type: none;
  }
  
  .button {
    font-size: 30px;
    cursor: pointer;
  }
  
  #fileInput {
    display: none;
  }
  
  .btn-menu {
    position:absolute;
    top: 20px;
    left:20px;  
    border:1px dashed black;
    z-index:1;
    text-align: center;
    background-color: rgb(255, 236, 45);
    font-size:0.8em;
    opacity: 0.34;
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
  }