<div class="list-roundup" *ngIf="showRoundup" [ngClass]="{'hidden': hideRoundup}" (click)="doHideRoundup()">
  <div class="sideimg"><img src="../../../assets/2023/logov1.jpg"/></div>
  <div class="panel">
      <div class="title" [innerHTML]="title"></div>
      <div class="row">
          <div>
              <h4>HOOGSTE SCORE</h4>
              <div class="highscore">
                {{scoreboard.lastroundhighest}} / {{scoreboard.rounds[scoreboard.lastround].max}}
              </div>
          </div>
          <div>
              <h4>GEMIDDELDE SCORE</h4>
              <div class="highscore">
                {{lastroundaverage}} / {{scoreboard.rounds[scoreboard.lastround].max}}
              </div>
          </div>
      </div>
      <div class="legenda2">
        <div><span class="badge orangei">&nbsp;&nbsp;&nbsp;</span>&nbsp;&nbsp;Minder goede score</div>
        <div><span class="badge redi">&nbsp;&nbsp;&nbsp;</span>&nbsp;&nbsp;Slechte score</div>
      </div>
  </div>
  <div class="sideimg"><img src="../../../assets/2023/logov2.jpg"/></div>
</div>

<div class="list" #list>
    <table mat-table [dataSource]="dataSource">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element" class="sticky"> {{element.id}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="team" sticky>
          <th mat-header-cell *matHeaderCellDef  style="min-width: 250px;"> Team </th>
          <td mat-cell *matCellDef="let element" class="sticky"><span [innerHTML]="element.team"></span></td>
        </ng-container>
      
        <!-- Dyn Columns -->
        <ng-container *ngFor="let col of columns" [matColumnDef]="col.name">
          <th mat-header-cell *matHeaderCellDef><span [innerHTML]="col.title"></span> </th>
          <td mat-cell *matCellDef="let element"><span [innerHTML]="element[col.name]"></span></td>
        </ng-container> 
      
        <tr mat-header-row class="sticky" *matHeaderRowDef="displayedColumns; sticky:true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

</div>
