/* You can add global styles to this file, and also import other style files */
html {
    margin:0;
    padding:0;
    height:100%;
}

body {
    margin:0;
    padding:0;
    height:100%;
    overflow:hidden;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    color:rgb(246, 161, 16); 
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #000;
    border-radius: 10px;
  }

.badge.green {
  background-color: transparent;
  color: #000;
}

.badge.orange {
  background-color: rgba(0,0,0,0.5);
}

  /* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .legenda{
    border-top: 2px solid black;
    padding-top:10px;
	font-size:14px;
}
